.container1 {
    display: flex;
    height: 350px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding-right: 9 0px;
    padding-left: 20px;
}

.box1 h1 {
    font-weight: 900;
}

.box1 h3 {
    font-weight: 400;
    text-align: justify;
}

.container1 img {
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.container2 {
    display: flex;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #fff4f4;
    justify-content: space-evenly;
}

.box3 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
}

.img {
    margin: 10px;
    padding-right: 0px;
    padding-left: 10px;
}

