.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
  
.button:hover {
    background-color: #4CAF50;
    color: white;
}
  
button {
    background-color: transparent;
    border: 0px;
}
  
.btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
  
.tablebox {
    max-width: 50%;
}